<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="sk.vander.contacts">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".DebugApp"
        tools:replace="android:name"/>

</manifest>
